# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

**/.sass-cache
**/.sass-cache/*
**/.sass-cache/**

#==================#
#    Log files     #
#==================#
*.log
error_log
access_log
.sass-cache