

@include edit();



ul, ol {
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    color: $type-color;
    position: relative;
    width: 100%;
    min-width: pem(320);
    background: $body-bg;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    height: auto;
}
.highlight {
    background: #fff699;
    padding: 0 0.5em;
}

.prose {

    ul, ol {
        list-style: outside disc;
        font-size: pem(16);
        line-height: pem(24);
        margin-bottom: pem(24);
    }

    p {
        font-size: pem(16);
        line-height: pem(24);
        margin-bottom: pem(24);

        &.small {
            color: #666;
            font-size: pem(13);
            line-height: pem(24, 13);
            margin-bottom: pem(24, 13);
        }

        &.medium {
            color: #666;
            font-size: pem(14);
            line-height: pem(24, 14);
            margin-bottom: pem(24, 14);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

   

    a {
        color: #6d7173;
        border-bottom: 1px solid #a1cfe5;
        text-decoration: none;
        outline: none;

        &:focus,
        &:hover {
            color: #4ab336;
            border-bottom-color: #77b36b;
        }
    }
}

.block {
    position: relative;
  
   
    max-width: pem(960);
}

.close-btn {
    display: block;
    width: pem(42);
    height: pem(36);
    padding: 0;
    border: 0;
    outline: none;
    background-size: pem(30) pem(30);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    @include opacity(1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-top: 6px;

     &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.5em;
        width: 24px;
        height: 4px;
        background: white;
        transform:rotate(-45deg);
      -ms-transform:rotate(-45deg); /* IE 9 */
      -webkit-transform:rotate(-45deg); /* Safari and Chrome */
        
        }
     &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0.5em;
        width: 24px;
        height: 4px;
        background: white;
        transform:rotate(45deg);
      -ms-transform:rotate(45deg); /* IE 9 */
      -webkit-transform:rotate(45deg); /* Safari and Chrome */
        
        }
      

    .no-svg & {
        background-image: url("../img/close-btn.png");
    }

    &:focus,
    &:hover {
        @include opacity(1);
    }
    &:active {
        &:after,
        &:before {
            background: red;
        }
    }
}

.nav-btn {
    display: block;
    width: pem(42);
    height: pem(36);
    padding: 0;
    border: 0;
    outline: none;
    background: left center no-repeat;        //three line nav icon //
    background-size: pem(30) pem(24);
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    @include opacity(0.7);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
        &:after {
         content: "";
        position: absolute;
        left: 0;
        top: 0.5em;
        width: 24px;
        height: 3px;
        background: $nav-btn-color;
        box-shadow: 
          0 8px 0 0 $nav-btn-color,
          0 16px 0 0 $nav-btn-color;
        }

    .no-svg & {
        //background-image: url("../img/nav-icon.png");
    }

    &:hover,
    &:focus {
        @include opacity(1);
    }

    &:active {
           &:after {
        background: $nav-btn-active;
        box-shadow: 
          0 8px 0 0 $nav-btn-active,
          0 16px 0 0 $nav-btn-active;
        }
    }
}

#outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#inner-wrap {
    position: relative;
    width: 100%;
}
.site-header {
    background-color: $header-bg;
    height: 82px;
}

#nav {
    z-index: 200;
    position: relative;
    overflow: hidden;
    width: 100%;
    color: #fff;

    .close-btn {
        display: none;
    }

    .block-title {
        @include visuallyhidden;
    }

    .block {
        z-index: 2;
        position: relative;
        padding: 0;
        }

    ul {
        @include group;
        display: block;
    }

    li {
        display: block;

        a {
            display: block;
            color: #ccc;
            font-size: pem(15);
            line-height: pem(24, 15);
            font-weight: bold;
            outline: none;

            &:focus,
            &:hover {
                color: #fff;
                background: rgba(255,255,255, 0.05);
            }
           
        }

        &.is-active {
            a {
                color: #fff;
            }
        }
    }
}

// header[role="banner"] {
#top {
    z-index: 100;
    position: relative;
    color: #2c3e50;
    margin: 0;

    .block-title {
        margin: 0;
        font-size: pem(30);
        line-height: pem(36, 30);
        text-align: center;
        white-space: nowrap;
        padding-top: 24px;
    }

    .nav-btn {
        position: absolute;
        top: pem(0);
        left: pem(0);
        margin-top: 22px;
    }
}



footer[role="contentinfo"] {
    background: #ddd;
}